{% extends 'base.html' %}

{% block title %}
<title>The list of cities</title>
{% endblock %}

{% block content %}
<h1>Города</h1>
<div class="row">
    <div class="col-md">
        <table class="table table-striped">
            {% for city in cities %}
            <tr>
                <td><a href="{{ city.get_absolute_url }}">{{city}}</a></td>
                <td>
                    <a href="{% url 'update' city.pk %}">
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'delete' city.pk %}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </a>
                </td>
            </tr>

            {% endfor %}
        </table>

    </div>
</div>

{% endblock %}